#blue{
    background-color: #1da1f2;
    overflow: hidden;
    height: 100vh;
}
#logo{
    position:relative;
    width: 200%;
    margin-left: -10px;
    margin-top: -100px;
}
#lines{
    position: relative;
    margin-top:-600px ;
    margin-left: 100px;
    font: 18px arial, Sans-serif;
    /*font-weight: bold;*/
    color: white;
}
#lines img{
    width:10%;
}
#white{
    background-color:white;
    height: 100vh;
}
#phone, #password{
    padding: 15px 8px;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
    border: solid #9BAAB5;
    border-width: 0.5px;
    border-radius: 3px;
    width:200px;
}
#submit_button{
    padding: 15px 12px;
    display: inline-block;
    border-radius: 20px;
    border: 0.5px solid #2490F1;
    margin-left: 20px;
    color:#2490F1;
    font-weight: bold;
}
#submit_button:hover{
    background-color: rgb(29,161,242,0.1);
}
#forget{
    margin-left:245px;
    color:#9BAAB5;
}
#box{
    position: relative;
    margin: 100px 100px;
}
#box img{
    width:38px;
}
#see{
    margin-top: 10px;
    font-size: 27px;
    line-height: 32px;
    font-weight: bold;
    color: black;
}
#join{
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}
.sub_button{
    width: 100%;
    margin-top: 15px;
    text-align: center;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 16px;
    color:white;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
}
#second_button{
    background-color: #fff;
    color: #1da1f2;
}
#first_button:hover{
    background-color: #2490F1;

}
#second_button:hover{
    background-color: rgb(29,161,242,0.1);
}